wa-automate-socket-client==1.1.0
dill==0.3.6
zeroless
killport
rich
xo.redis
spotipy==2.16.1
youtube-search==1.1.1
lxml==4.6.2
google==3.0.0
google_trans_new==1.1.9
youtube-title-parse==1.0.0
yfinance==0.1.55
cryptocmd==0.6.0
emoji==0.6.0
ShazamAPI==0.0.2
pydub==0.24.1
SpeechRecognition
opencv-python==4.2.0.32
websocket_client==0.57.0
pyopenssl==20.0.1
pyttsx3==2.90
gTTS==2.2.2
playsound==1.2.2
# SpeechRecognition==3.8.1