<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome to the Dashboard</h1>
    <p>User details: <span id=user_details>{{ user_details}}</span> </p>
    <p>JWT Token: {{ jwt_token }}</p>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.1/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('user_details', function(data) {
            console.log(data);
            // document.getElementById('user_details').innerHTML = data.name + ": " + data.email;
            // Handle user details here
        });
    </script>
</body>
</html>
